


.eventsPage {
  padding: 50px 0;
}

/* card  */
.card {
  width: 250px;
  margin: 20px;
  border: none;
  box-shadow: 0 4px 16px teal;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.detailsRegNowBtn{
    padding: 8px 15px ;
    background: teal;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    display: inline-block;
    text-decoration: none;
    color: white;

}
.card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-img-top {
  height:280px;
  object-fit: cover;

}


.card-title {
  color: #ffffff;
  margin-top: 10px;
}

.card-text {
  color: #ffffff;
}


.card-01.height-fix .fa {
  color: #fff;
  font-size: 18px;
  margin-right: 18px;
}

.card-01.height-fix .card-img-overlay {
  top: unset;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(211, 15, 15, 0) 0%, rgba(187, 40, 40, 0) 1%, rgba(183, 45, 45, 0.91) 31%, rgba(202, 35, 35, 0.91)  100%);
  background: -webkit-linear-gradient(top, rgba(211, 15, 15, 0) 0%, rgba(187, 40, 40, 0)1%, rgba(183, 45, 45, 0.91) 31%, rgba(202, 35, 35, 0.91) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(39, 33, 33, 0.91) 31%, rgba(7, 7, 7, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a606f', endColorstr='#e8154159', GradientType=0);
}

/* ======================== popup styling ========================  */


.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  z-index: 9999999;
  display: none;
  backdrop-filter: blur(5px);
}

.popup {
  width: 90vw;
  max-width: 80vw;
  background-color: #000;
  border-radius: 10px;
  overflow-y: scroll;
  text-align: center;
  max-height: 85vh;
  margin-top: 80px;
  box-shadow: 0 4px 20px rgba(207, 205, 205, 0.774);
  color: white;

}

.popup-header {
  text-align: center;
}


.popup-poster {
  width:400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popup-content {
  padding: 20px;
  text-align: justify;
}
.closeBtn{
  /* width: 100%; */
  padding: 8px 15px ;
  background: teal;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  bottom: 0;
  display: inline-block;
  position: absolute;
  right: 10vw;
  top: 60px;
  height: 50px;
  color: white;
}
.rules-and-regulations {
  font-size: 16px;
  line-height: 1.5;
}


.eventMainPoster{
  width: 100vw;
  display: flex;
  justify-content: center;
margin-top: 100px;
margin-bottom: -80px;
align-items: center;

}
.eventMainPoster h1{
  color: white;
  margin: 10px;
}
.eventMainPoster span{
  height: 5px;
  background: white;
  width:100%;
}
.eventMainPoster h1 p{
  color: white;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  margin-bottom: -10px;
}
.paceConnect{
  margin-top: -100px;
  margin-bottom: -80px;
}
.paceConnect h1{
  width: 50%;
}
.reveletionsContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reveletionsContainer img{
  width: 70vw;
  margin-top: 100px;
  margin-bottom: 20px;
}
.reveletionsH h1{
  width: 55%;
}
.Programs{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 100px;
}
.Programs a{

  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: teal;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}
