@media (max-width:800px) {
    /* events page news css  */
    .row{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .col-md-4{
        width: 45vw !important;
    }
    .col-md-4:nth-child(1n){
        margin-left: 12px;
    }
    .col-md-4:nth-child(2n){
        margin-left: 12px;
    }
    .card{
        width: 45vw ;
        height: 230px;
        margin: 0;
        margin-bottom: 20px
    }
    .card-title{
        font-size: 18px;

    }
    .card-text{
        font-size: 10px;
    }

}