@media (max-width:800px) {
    /* events page news css  */
    .row{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .col-md-4{
        width: 45vw !important;
    }
    .col-md-4:nth-child(1n){
        margin-left: 12px;
    }
    .col-md-4:nth-child(2n){
        margin-left: 12px;
    }
    .card{
        width: 45vw ;
        height: 200px !important;

        max-height: 180px !important;
        margin: 0;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .card-title{
        font-size: 18px;

    }
    .card-text{
        font-size: 10px;
    }
    .pupup{
        min-width: 100vw !important;
        margin: 0;
    }
    .popup-poster {
        width: 100%;

    }

}