@media (max-width:800px) {

    body,
    html {
        overflow-x: hidden;
        max-width: 100vw;
    }

    .home {
        z-index: -1;
        margin-top: -30px;


    }

    .home img {
        height: 100px;
        top: 40%;
    }

    .footerRow {
        display: flex;
        flex-direction: column;
    }

    .phoneLogo {
        text-align: center;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phoneLogo img {
        height: 50px;
        display: block;
        filter: invert(90%);
        margin: 10px 0px;

    }
.respHead{
    font-size: 20px;
}
.videoPlayer video{
    width: 95vw;
}
.respOverview{
    margin-top: 100px !important;
}
    .tagline {
        font-size: 25px;
        top: 78%;
    }

    .date {
        font-size: 20px;
    }

    #navbar.scrolled .menu a {
        color: red;
        display: none;

    }

    #navbar {
        height: 120px;

    }

    .menu {
        margin-top: -50px;
        user-select: none;

    }


    .secondPage {
        width: 100vw;
        padding: 15px;
    }

    .secondPage p {
        font-size: 13px;
    }

    .imgP {
        flex-direction: column !important;
        width: 90vw;
        align-items: center;
    }

    .imgP img {
        height: 300px !important;

    }

    .eventTypes {
        display: flex;
        flex-direction: column;

    }

    .eventTypes div p {
        font-size: 13px;
        width: 40vw;


    }

    .thiredPage {
        width: 100vw;
    }

    .contentofPA {
        display: none;
    }

    .bg-darkDesaturatedBlue {
        background-color: rgb(219, 13, 13);
        width: 80px !important;
        height: 55px !important;
    }

    .bg-slightlyDarkerDesBlue {
        background-color: rgb(219, 13, 13);
        width: 80px !important;
        height: 55px !important;
        margin: 0;
    }

    .textSizeofTimee {
        font-size: 25px;
        --tw-scale-y: 3;
        --tw-scale-x: 2;
        margin-bottom: 35px;
    }

    .textSizeofTime {
        font-size: 25px;
        --tw-scale-y: 3;
        --tw-scale-x: 2;
    }



    .gapofTime {
        gap: 10px !important;
    }

    .text-grayishBlue {
        font-size: 15px !important;
    }

    .firstPageContainer {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .firstPage h1 {
        font-size: 20px;
    }

    .popup {
        max-width: 95vw;
        max-height: 75vh;
        margin-top: 0px;


    }

    .eventMainPoster span {
        margin-top: 30px;

    }

    .eventMainPoster {
        margin-top: 0px;
    }

    .paceConnect {
        margin-top: -60px;
    }

    .eventMainPoster h1 {
        margin-top: 30px;

    }

    .paceConnect h1 {
        width: 150%;
        font-size: 20px;
        text-align: center;
    }

    .dropdown {
        display: flex;

    }

    .nothingTeam {
        height: 120px;
    }

    .dropdown i {
        display: none;
    }

    .dropdown-content {
        margin-top: 30px;
    }

    .reveletionsContainer img {
        width: 90vw;
    }

    .Programs {
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
    }

    .Programs a {
        margin: 10px;
    }

    .posterImg img {
        width: 90vw;
    }

    .contP p {
        font-size: 13px;
    }

    .otherEvents img {
        width: 30%;
    }

    .otherEvents {
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .techXpoLogoBottom {
        height: 38px;
    }

    .otherDate {
        margin-left: -45px;

    }

    .otherDate p {
        width: 130%;
    }

    /* events page news css  */
    .row{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .col-md-4{
        width: 45vw;
    }
    .col-md-4:nth-child(2n){
        margin-left: 12px;
    }
    .card{
        width: 45vw ;
        height: 230px;
        margin: 0;
        margin-bottom: 20px
    }
    .card-title{
        font-size: 18px;

    }
    .card-text{
        font-size: 10px;
    }

}