::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: teal;
}

* {
    margin: 0;
    padding: 0;
}
body{
    background: #31363F !important;
    overflow-x: hidden;
}

.sideNav {
    width: 20vw;
    height: 100vh;
    background: #222831;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    left: 0;
    transition: 0.3s;
    z-index: 99;
}

.sideNav a {
    position: relative;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 230px;
    border-radius: 25px;
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}

.sideNav a:hover {
    color: #76ABAE;
    text-decoration: none;
}

.sideNav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #eeeeee;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.sideNav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.active {
    color:#76ABAE !important;
}

.topBar {
height: 60px;
width: 100vw;
background: #eeeeee;
display: flex;
align-items: center;
z-index: 9999999999;
position: fixed;
top: 0;

}

.topBar p {
    font-size: 25px;
    font-weight: 0;
}

.paceLogo {
    margin-left: 10px;

}

.paceLogo img {
    height: 70px;
}

.embedClubLOGO img {
    height: 55px;
    position: absolute;
    right: 5px;
    top: 0;
}

.searchBar {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

}

.searchBar form {
    display: flex;
    
}

.searchBar form input {
    width: 350px !important;
    height: 40px;
}

.searchBar form i {
    background: teal;
    color: white;
    height: 40px;
    
    width: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    margin-left: -33px;
    cursor: pointer;
}

.nothing {
    height: 60px;
    width: 80vw;
    margin-left: 20vw !important;
}

.mainContents {
    margin-left: 20vw;
    height: 60px;
    width: 80vw;
}

.homeContent{
    background: transparent;
}
canvas{
    height: 60vh;
    width: 80vw;
}


.homeContent {
    width: 80vw;
    position: absolute;
    top: 150px;
    padding: 20px;
    color: #EEEEEE;
    text-align: center;

}
.homNavigation{
    top: 100px;
}
.homeBg img{
    height: 200px;
    width: 100vw;
    object-fit: cover;
}
.homeContent h1 {
    font-size: 2em;
}

.homeContent p {
    font-size: 1.2em;
}

.homeContent a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: teal;
    color: #EEEEEE;
    text-decoration: none;
}



.mission-vision {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.mission, .vision {
    background-color: #222831;
    flex: 1;
    padding: 20px;
    /* background-color: #fff; */
    /* color: #76ABAE; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #eeeeee;
}

.mission h2, .vision h2 {
    font-size: 24px;

    
}
.mission p, .vision p {
    font-size: 16px;
    color: #eeeeee;
    line-height: 1.5;
    
}

.about-us {
    flex: 1;
    padding: 20px;
    background-color: #31363F;
    color: #EEEEEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.about-us p {
    font-size: 16px;
    color: #EEEEEE;
    line-height: 1.5;
}
.about-us a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: teal;
    color: #EEEEEE;
    text-decoration: none;
}
.menu-icon{
    display: none;
}
.sideNav .closeIcon{
    display: none ;
}


.event-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}

.event-card img {
    max-width: 100%;
    height: auto;
}

.event-card h2 {
    margin: 10px 0;
}

.event-card p {
    margin: 5px 0;
}

.event-card a {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.event-card a:hover {
    background-color: rgb(1, 94, 94);
}

.img_carousel div img {
    min-width: 200px;
    min-height: 150px;
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    cursor: grab;

}

@media (max-width:780px) {
    .img_carousel{
        max-height: 200px;
        overflow: hidden;
    }
    .img_carousel div  {
      
        width: 100vw;
        position: relative;
        overflow: hidden;
          margin: 5px;
          min-width: 200px;    
          min-height: 200px
    }
    .sideNav a{
        color: #222831;
    }
   
      .active {
          color:#26534b !important;
      }
      .sideNav a:hover {
        color: #26534b;
        text-decoration: none;
    }
    
}
.counter-card {
    background: #222831;
    color: #76ABAE;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .counter-card:hover {
    transform: scale(1.02);
  }

  .counter-number {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #76ABAE; 
  }
