@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

@font-face {
  font-family: glitch;
  src: url(/events/fonts/Sdglitchrobotdemo-GOPdO.ttf);
}
::-webkit-scrollbar {
  width: 0px;
}
 
 
 
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
body{
  overflow-x: hidden;     
}
video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(3px);
  
}
.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.video-background video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.home{
background-image: url("./images/cpubg.jpg");
filter: blur(5px);
height: 100vh; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
transition:3s;
}
.home1{
  background-image: url("./images/b1.jpg");
  filter: blur(5px);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
  }
.home-content {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
 
}

.home-content img{
  width: 100px;
  border-radius: 20px;
  filter: invert();
  animation: spin 25s  linear infinite ;

}
.home-content p{
  font-weight: normal;
  font-family: 'Michroma', sans-serif;
      font-size: 19px;
text-align:justify;
}
.logo{
  color: rgb(23, 26, 172);
  z-index: 10;
  position: absolute;
  font-size: 35px;
  font-family: 'Michroma', sans-serif;
  margin-top: -22px;
  cursor: pointer;
  

}  
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    padding: 20px 0;
    height: 50px;
    transition: all 0.5s ease;
    background:rgba(235, 228, 228, 0.795);
    padding: 36px;
  }

.navbar.sticky {
  position:fixed;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(207, 205, 62, 0.1);
  z-index: 10;
}
.sticky .logo{
  color: white
}
.sticky ul li a{
  color: white;
} 
.sticky ul li a:hover{
  color: yellow;
  transition: 0.2s;
  border-bottom: 2px solid ;
} 
  .navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    right: 10px;
    top: 15px;
  }
 
  .menu-list {
    display: flex;
    list-style-type: none;
   
  }
  .menu-list li {
    margin: 12px;
    
  }


  .menu-list li a{
    text-decoration: none;
    font-size: 20px;
    padding: 12px 10px;
    /* color: var(--greenred); */
    color: rgb(8, 8, 8);
    font-family: 'Courier New', Courier, monospace;

  }
  .menu-list li a:hover{
    color: rgb(16, 23, 37);  
    transition: 0.2s;
    border-bottom: 2px solid ;
  }
 
 
.icon {
  display: none;
}
 
.icon.hide {
  display: none;
}
section{
  height: 100vh;
  width: 100vw;
  background: rgb(32, 32, 32);
}
  
footer{
  background: #dddcdc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.footer_content{
  
  font-size: 15px;
  padding: 10px;

}
.source ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.source ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
}
.source ul li a {
  color: #333;
}
.foot_row{
width: 20vw;
display: flex;
flex-direction: row;
align-items: center;
font-family: 'Courier New', Courier, monospace;
}
.foot_row h1{
  font-size: 20px;
}
.foot_row img{
  display: inline-block;
  width: 50px;

}
 
.copyright{
  background: #d1d1d1;
  text-align: center;
  padding: 10px;
}
.copyright h1{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
}
.popup{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 0;
  overflow: hidden;
  transition: 1s;
  overflow-y: scroll;
}
.popcontent{
  margin-top: -80px;
width: 50vw; 
background: rgba(24, 24, 24, 0.712);
height: 50vh;
border-radius: 25px;
/* box-shadow: -3px -3px 10px 10px white inset; */
border: 5px solid white;
text-align: center;
transition: 1s ease-in-out;
display: flex;
flex-direction: column;
}
.minimize{
  max-height: 100px;
  max-width: 80px;
  right: 10px;
  border-radius: 5px;
  
}
.minicontnent{
  max-width: 60px;
  max-height: 90%;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;

}

.popcontent p{
  font-size: 30px;
  color: white;
  padding:20px 10px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.popcontent a{
  text-decoration: none;
  padding: 10px 20px ;
  background: gray;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  margin-top: 40px;

}
.ctent{
  color: white;
  font-size: 30px;
}
.exit{
position:relative;
font-size: 30px;
float: right;
margin-top: 10px;
margin-right: 20px;
font-family: 'Courier New', Courier, monospace;
cursor: pointer;
color: white;
margin-left: 95%;

}

.eventname{
font-size: 100px;
color: white;
font-family: 'glitch';

}














/*
==============================================================================
                                 responsiveness
==============================================================================
 */
@media screen and (max-width: 767px) {
  *{
      overflow-x: hidden;

  }
 body{
   max-width: 100vw;
 }
.navbar {
  position: fixed;
  top:0;
  width: 100%;
  padding: 30px 0;
  height: 40px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 10;

}
 
.navbar.sticky {
  position:fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  height: 60px;
}
 
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar .menu-list {
  display: inline-flex;
}
 
.menu-list li {
  list-style-type: none;
}
 
.about p {
  padding-top: 20px;
  text-align: justify;
}
 
.icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
 
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color:red;
}
 
#button {
  color: var(--color1);
}
 
#button :hover {
  color: rgb(100, 97, 97);
}
 
body.disabled {
  overflow: hidden;
}
 
.icon {
  display: block;
 color: grey;
}
 
.icon.hide {
  display: none;
}
 
.navbar .menu-list {
  
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  
  left: 150%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  z-index: 999;
}
 
.navbar.show .menu-list {
  left: 0%;
  
}
 
.navbar .menu-list li {
  margin-top: 45px;
}
 
.navbar .menu-list li a {
 
  text-decoration: none;
  color: white;
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68,0.55, 0.265, 1.55);
}
 
.navbar.show .menu-list li a {
  margin-left: 0px;
  font-weight: bold;
}
.menu-list li a:hover{
  color: yellow;  
}
.category ul {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category ul li p{
  width: 100vw;
}
.category ul li img{
 
  width: 100vw;
  margin-left: 50px;
 
}

.logo{
  margin-left: 5px;
  font-size:20px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.home-content{
  z-index: 0;
}
.home-content p{
  font-size: 10px;
}
.menu-btn i{
  margin-top: -5px;
}
.navbar.sticky .menu-btn i{
  display: block; 
  color: white;
  
}
footer{
  flex-direction: column;
  max-height: 230px;
  color: dimgrey;
  overflow-y: hidden;
}
.foot_row {
  width:100vw;
  justify-content: center;
  align-items: center;
  margin-right:30px;
  margin-top:40px;
}
  .footer_content{
    text-align: center;
    font-size: 12px;
    margin-right: 60px;
    margin-bottom: -12px;
  }
  
  .source ul li {
    font-size: 15px;
    align-items: center;
    margin-right: 30px;
    margin-bottom: -12px;
  }
  .copyright h1{
    font-size: 15px;
  }
  .copyright p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
 .popcontent{
   width: 90vw;
   align-items: center;
 } 
 .eventname{
   font-size: 50px;
 }
 .exit{
  margin-left: 87%;
 }
 .ctent{
  font-size: 17px;
 }
 #ebtn{
   max-width: 200px;
   
   
 }
}
