*{
    margin: 0;
    scroll-behavior: smooth;
  }
  html,body{ 
    width: 100%;
    height:100%;
      background:#e2e1e1;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  h1{
    color: #b80410;
  }
  section{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formcontainer {
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    animation: textclip 5s linear infinite;
    background: #070330;

    background-size: 200% auto;
    background-clip: text;
    margin-bottom: 100px;
    margin-top: 100px;
  
  
  }
  
  .form span{
    width: 100%;
  }
  label{
    color: #b80410;
  }
  .inputfield {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    color: #b80410;
    background: #d6d5d5;
  }
  
  input[type=submit] {
    background-color: #333;
    color: white;
    padding: 8px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    
  }
  
  input[type=submit]:hover {
    background-color: #111;
  }
  .qr {
    width: 100%;
    text-align: center;
  }
  .qr img{
    width: 30%;
  
  }
  .submitspan{
    width: 100%;
    display: flex;
    justify-content: center;
  }
.submit{
margin-top: 30px  ;
background-color: #b80410;
}

.loading {
  height: 100vh; 
  width: 100vw;
  z-index: 10000;
  position: absolute;
  display: none;
}

.spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  border-top-color: #b80410;
  animation: spin 1s ease-in-out infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.logo-img{
  padding-right: 10px;
}


.p-event-detail{
  font-family: ubuntu;
  background-color: white;
}

 
  /*
==============================================================================
                                 responsiveness
==============================================================================
 */
@media screen and (max-width: 767px) {

  .formcontainer {
   width: 88%;
  }
  .qr img{
    width: 40%;
  
  }
  form h1{
    font-size: 20px;
  }
}



