
  @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


*{
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;

}
@font-face {
  font-family: glitch;
  src: url(../fonts/Sdglitchrobotdemo-GOPdO.ttf);
}
html,body{ 
  width: 100%;
  height:100%;
  /* max-width: 100vw; */
  overflow-x: hidden;
  background: #000;
}

.header{
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  z-index: 10;
}
.header img{
  padding: 0px;
  width:65px;
  margin-left: 30px;
  padding: 5px;
}
.college{
color: #999;
font-size: 33px;
font-weight: bold;
font-family: 'Oswald', sans-serif;
margin-left: 30px;
line-height: 28px;
padding: 10px;
}

.embed{
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.embed h1{
  z-index: 10;
  font-size: 25px;
  color: white;
  margin-left: 2px;
  /* font-family: monospace; */

}
.embed img{
  width: 60px;
  filter: invert();
}
.welcome{
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 200px;

}
.welcome p{
  color: rgb(179, 179, 179);
  font-size: 40px;
  margin-bottom: 30px;
}
.welcome a{
  background: red;
  font-size: 25px;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  animation: textclip 5s linear infinite;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #7e7e7e 29%,
    #a3a3a3 67%,
    #ffffff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;


}


.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #7e7e7e 29%,
    #a3a3a3 67%,
    #ffffff 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rubik Gemstones', cursive;
  font-family: 'glitch';
}
@keyframes textclip {
  to {
    background-position: -200% center;
  }
}


#typewriter {
  font-family: 'Tillana', cursive;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white;
  animation: typing 3.5s steps(40, end), blink 1s step-end infinite;
  white-space: nowrap;
  font-weight: bold;

  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #7e7e7e 29%,
    #a3a3a3 67%,
    #ffffff 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Irish Grover', cursive;}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}






#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}



footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  width: 100vw
}

footer p {
  margin-bottom: 0;
  font-size: 15px;
  color: #666;
}


section{
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cards {
  width: 100vw;
  height: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.card {
  width: 40vw;
  height: 70%;
  background-color: yellowgreen;
  text-align: center;

  animation: textclip 5s linear infinite;
  background-image: linear-gradient(to right,
      #ffffff 0%,
      #7e7e7e 29%,
      #a3a3a3 67%,
      #ffffff 100%);
  background-size: 200% auto;
  background-clip: text;
  border-radius: 3px;

}

.card img {
  height: 70%;
  width: 250px;
  height: 300px;
}

.card p {
  text-align: justify;
  padding: 10px;
}

.card a {
  background: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  position: relative;
  top: 13px;
  font-size: 17px;
  font-weight: bold;
  color: white;


}


@media screen and (max-width: 767px) {
 
  .header{
   height: 50px;
  }
  .header img{
    width: 35px;
    padding: 5px;
  }
  .name{
  font-size: 10px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  }
  .animate-charcter{
    font-size: 50px;
  }
  .welcome{
    max-width: 100vw;
    word-wrap: break-word;
    word-break: break-word; 
  }
  .welcome p{
    font-size: 11px;
word-wrap: break-word;
word-break: break-word;
margin-bottom: 100px
  }
  .welcome a{
    font-size: 20px;
  }
  .formcontainer {
  width: 100%;
  }
  .college{
    font-size: 17px;
    line-height: 18px;
  }
  .embed{
   
  }
  .cards{
    flex-direction: column;
  }
  .card{
    width:100vw;
    margin-top: 10px;
  }
}